html{
    min-width: 1400px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    
}
.container-small {
    padding: 0 100px;
}
.container-big{
    padding: 0 183px;
}

/* Header */

.header {
   position: absolute;
   padding: 36px 0;
   top: 0;
   left: 0;
   width: 1400px;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.6em;
    line-height: 19.5px;
}

.logo {
    color: #533738;
    position: relative;
    cursor: pointer;
    margin-left: 25px;
    margin-right: 80px;
}

.logo::before{
    content: '';
    position: absolute;
    background: url('./images/Безимени-11.svg') no-repeat 50% 50%;
    width: 25px;
    height: 25px;
    left: -25px;
    top: -5px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list__item {
   margin-right: 28px;
}

.nav__link {
    color: #533738;
}

.nav__link:hover {
    color: #CC8B86;
    transition: all 0.3s;
}

.number {
    color: #533738;
}


/* PREVIEW */
h1{
    font-size: 5em;
    width: 534px;
    line-height: 62px;
    color: #533738;
}

.preview {
    padding-top: 150px;
    padding-bottom: 168px;
    background: url('./images/backgrounds/anastasiya-vysotskaya-v5GfetB7Yv0-unsplash1.jpg') no-repeat;
    background-size: cover;
}

.container-big > p{
    margin: 19px 0 21px;
    max-width: 406px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}

.btn{
    width: 309px;
    display: inline-block;
    background-color: #CC8B86;
    padding: 25px 65px;
    font-size: 2em;
    font-weight: 500;
    line-height: 24.38px;
    color: #533738;
}

.btn:hover{
    background-color: #af6c69;
    transition: all 0.5s;
    color: #E2C4BA;
}

/* ABOUT US */

h2{
    text-align: center;
    font-size: 4em;
    line-height: 50px;
    color: #533738;
}

.about-us h2{
    width: 300px;
    margin: auto;


}

.about-us {
    padding-top: 69px; 
    background-color: #f8efe9;
}

.about-us-content > img{
    width: 444.54px;
    height: 465px;
}

.about-us-content > p{
    font-size: 1.8em;
    max-width: 528px;
    line-height: 30px;
    color: #533738;
}

.about-us-content {
    padding-top: 40px;
    padding-bottom: 15px;
    display: flex;
    gap: 61px;
}

.about-us-achievements {
    display: flex;
    justify-content: space-between;
    padding: 85px 183px 81px;
    color: #fff;
    background-color: #8D7370;
}

.about-us-achievements__item {
    max-width: 192px;
}

.about-us-achievements__item > h3{
   text-align: center;
   font-size: 5em;
   line-height: 62px;
   font-weight: 400;
}

.about-us-achievements__item > div{
    font-weight: 500;
    font-size: 3em;
    line-height: 37px;
    text-transform: uppercase;
}

.our-work {
    background-color: #f8efe9;;
    padding-top: 65px;
    padding-bottom: 25px;
}

.our-work-gallery {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.flex{
    display: flex;
    gap: 20px;
}

.our-work-gallery__item {
    flex-basis: auto;
    flex-shrink: 0.5;
}

.our-work__link {
    margin: 40px auto;
    display: block;
    width: 224px;
    font-size: 3em;
    font-weight: 500;
    line-height: 36.57px;
    color: #533738;
    position: relative;
}

.our-work__link::after {
    content: '';
    width: 60px;
    height: 30px;
    background: url('./images/Arrow3.svg') no-repeat 50% 50%;
    position: absolute;
    top: 5px;
    right: -70px;
}

/* OUR TEAM */

.our-team {
    background-color: #E2C4BA;
}

.our-team h2 {
    text-align: center;
    padding: 50px 0px 42px;
}


.cards {
    display: flex;
    justify-content: space-between;
}

.cards__item {
    max-width: 320px;
    font-size: 1.8em;
    line-height: 30px;
    color: #533738;
}

.cards__item > img {
    margin-bottom: 10px;
}

.how-we-work {
    display: flex;
    justify-content: space-between;
    font-size: 1.8em;
    line-height: 30px;
    color: #533738;
    padding-bottom: 80px;
}
.item-circle{
    text-align: center;
    color: white;
    width: 70px;
    height: 70px;
    margin: auto;
    background-color: #8D7370;
    font-size: 30px;
    line-height: 70px;
    font-weight: 500;
    border-radius: 50%;
}

.how-we-work__item {
    max-width: 285px;
    text-align: center;
}

.how-we-work__item > p {
    margin-top: 20px;
}

.review {
    padding: 65px 0;
    background-color:#f8efe9;
    color: #533738;
    font-size: 18px;
    line-height: 30px;
}

.review h2 {
    margin: 0 auto;
    width: fit-content;
}

.review__card {
    padding-top: 40px;
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}


.review-icons-box {
    position: absolute;
}

.review__icon {
    cursor: pointer;
    width: 72px;
    height: 72px;
    background-color: #CC8B86;
    border-radius: 50%;
    position: relative;
}

.review__icon:hover{
    background-color: #af6c69;
    transition: all 0.5s;
}

.review__icon::before{
    content: '';
    width: 32px;
    height: 20px;
    position: absolute;
    background: url('./images/Arrow2.svg') no-repeat 50% 50%;
    left: 20px;
    top: 26px;
}

.icon_right{
    transform: rotateY(180deg);
}

.review__text {
    max-width: 407px;
}

.review__pictures {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.review__pictures > img {
    width: 407px;
    height: 272px;
}

.contact-us {
    background-color: #8D7370;
}

.contact-us .container-big{
    padding-right: 100px;
}

.contact-us-wrapper{
    display: flex;
    justify-content: space-between;
}


.form-wrapper {
    padding-top: 50px;
}

.form-wrapper h2 {
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 24px;
}

.form-wrapper > p {
    max-width: 450px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 26px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form > input:nth-child(2){
    margin-bottom: 30px;
}

.form input {
    background-color: transparent;
    border-bottom: solid 1px #fff;
    padding: 10px 0;
    font-size: 18px;
    line-height: 30px;
    color: #F6EDE9;
}

.form input:focus{
    border-bottom: solid 3px #fff;
    transition: all 0.5s;
    }

.form input::placeholder{
    color: #F6EDE9;
    font-size: 18px;
    line-height: 30px;
}

.footer {
    background-color: #f8efe9;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    padding: 37px 0;
}

.footer-wrapper{
    display: flex;
    gap: 42px;
}

.owner {
    margin-left: auto;
}